body {
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  background-color: rgb(109, 161, 161);
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.destination-image {
  width: 25vw;
  height: auto;
  align-items: center;
  flex-shrink: 3;
  margin: 1.5em;
  background-color: white;
}

.hidden {
  display: none;
}

.booking-title,
.user-trip-info {
  color: rgb(135, 151, 178);
}

.user-account-info,
.past-trips,
.pending-trips,
.upcoming-trips,
.total-spent {
  font-size: x-large;
  color: rgb(167, 165, 198);
}

.title-section {
  display: flex;
  justify-content: space-between;
}

.destination-name,
.p {
  color: rgb(102, 206, 214);
}

#totalSpent {
  padding-bottom: 30px;
}
